<div class="post-container">
  <% @posts.reverse_each do |post| %>
  <div class="post">
    <% if user_signed_in? %>
      <h1 class="author"><%= post.user.username %> said:</h1>
    <% end %>
    <h2 class="post-title"><%= post.title %></h2>
    <p class="post-body"><%= post.body %></p>
  </div>
  <% end %>
</div>